[pylint]
disable=
    anomalous-backslash-in-string,
    attribute-defined-outside-init,
    broad-except,
    consider-using-f-string,
    consider-using-with,
    dangerous-default-value,
    global-statement,
    global-variable-undefined,
    import-error,
    invalid-name,
    keyword-arg-before-vararg,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-self-use,
    protected-access,
    redefined-outer-name,
    subprocess-run-check,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-statements,
    unspecified-encoding,
    unused-argument,
ignore=
    __init__.py,
notes=
    FIXME,
